In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
sns.set(style="white")
%matplotlib inline

In [8]:
data =pd.read_csv("MOI-tweets.csv")
data.head()

,Unnamed: 0,id_str,retweet_count,favorite_count,replyCount,quoteCount,user.screen_name,datenew,created_at,datecreatetweetold,text,datecreateuserold,user.created_at,engagments,day,month,year,url
0,3,1448997995475881988,5223,7173,1126.0,740.0,MOISaudiArabia,2021-10-15,Fri Oct 15 13:03:37 +0000 2021,16 days 10:56:23,ØªØ®ÙÙŠÙ Ø§Ù„Ø§Ø­ØªØ±Ø§Ø²Ø§Øª Ø§Ù„ØµØ­ÙŠØ© ÙÙŠ Ø§Ù„Ù…Ù…Ù„ÙƒØ©ØŒ ÙˆØ°Ù„Ùƒ Ø§Ø¨ØªØ¯Ø§...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,14262.0,15,10,2021,https://twitter.com/MOISaudiArabia/status/1448...
1,55,1441521487970639877,4436,8179,957.0,405.0,MOISaudiArabia,2021-09-24,Fri Sep 24 21:54:39 +0000 2021,37 days 02:05:21,Ù†Ø¸Ø§Ù… Ù…ÙƒØ§ÙØ­Ø© Ø¬Ø±ÙŠÙ…Ø© Ø§Ù„ØªØ­Ø±Ø´..\n\n#ÙˆØ²Ø§Ø±Ø©_Ø§Ù„Ø¯Ø§Ø®Ù„ÙŠØ© ...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,13977.0,24,9,2021,https://twitter.com/MOISaudiArabia/status/1441...
2,66,1440718303383539712,2080,7538,440.0,125.0,MOISaudiArabia,2021-09-22,Wed Sep 22 16:43:05 +0000 2021,39 days 07:16:55,Ø³Ù„Ø§Ù…ÙŒ ÙŠØ§ Ø¯Ø§Ø± Ø§Ù„Ø¢Ù…Ù†ÙŠÙ† ğŸ‡¸ğŸ‡¦ğŸ‡¸ğŸ‡¦\n\n#Ù‡ÙŠ_Ù„Ù†Ø§_Ø¯Ø§Ø±â©\nâ§#Ø§...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,10183.0,22,9,2021,https://twitter.com/MOISaudiArabia/status/1440...
3,36,1435302078092619777,2218,3587,1660.0,251.0,MOISaudiArabia,2021-09-07,Tue Sep 07 18:00:56 +0000 2021,54 days 05:59:04,Ø¥ÙŠÙ‚Ø§Ù ØªØ¹Ù„ÙŠÙ‚ Ø§Ù„Ù‚Ø¯ÙˆÙ… Ø¥Ù„Ù‰ Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ù…Ù† Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª ÙˆØ¬Ù†...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,7716.0,7,9,2021,https://twitter.com/MOISaudiArabia/status/1435...
4,78,1443908772410318849,2360,2954,1120.0,81.0,MOISaudiArabia,2021-10-01,Fri Oct 01 12:00:52 +0000 2021,30 days 11:59:08,Ø¨Ø¯Ø¡Ù‹Ø§ Ù…Ù† ØªØ§Ø±ÙŠØ® 4 / 3 / 1443Ù‡Ù€ Ø§Ù„Ù…ÙˆØ§ÙÙ‚ 10 / 10 ...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,6515.0,1,10,2021,https://twitter.com/MOISaudiArabia/status/1443...

In [9]:
data.describe()

,Unnamed: 0,id_str,retweet_count,favorite_count,replyCount,quoteCount,engagments,day,month,year
count,49054.000000,4.905400e+04,49054.000000,49054.000000,49033.000000,49033.000000,49033.000000,49054.000000,49054.000000,49054.0
mean,24543.283076,1.443877e+18,1.825784,2.770742,0.840720,0.069627,5.506761,15.226200,9.520345,2021.0
std,14177.965854,6.252264e+15,40.955554,70.078722,14.911313,4.091152,125.091021,9.201115,0.509530,0.0
min,0.000000,1.432856e+18,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,9.000000,2021.0
25%,12270.250000,1.438492e+18,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,9.000000,2021.0
50%,24533.500000,1.443970e+18,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,10.000000,2021.0
75%,36796.750000,1.449011e+18,0.000000,1.000000,0.000000,0.000000,1.000000,24.000000,10.000000,2021.0
max,58818.000000,1.455066e+18,5223.000000,8179.000000,1660.000000,740.000000,14262.000000,31.000000,11.000000,2021.0

In [10]:
data.count()

Unnamed: 0            49054
id_str                49054
retweet_count         49054
favorite_count        49054
replyCount            49033
quoteCount            49033
user.screen_name      49054
datenew               49054
created_at            49054
datecreatetweetold    49054
text                  49054
datecreateuserold     49054
user.created_at       49054
engagments            49033
day                   49054
month                 49054
year                  49054
url                   49054
dtype: int64

In [7]:
df

,Unnamed: 0,id_str,retweet_count,favorite_count,replyCount,quoteCount,user.screen_name,datenew,created_at,datecreatetweetold,text,datecreateuserold,user.created_at,engagments,day,month,year,url
0,3,1448997995475881988,5223,7173,1126.0,740.0,MOISaudiArabia,2021-10-15,Fri Oct 15 13:03:37 +0000 2021,16 days 10:56:23,ØªØ®ÙÙŠÙ Ø§Ù„Ø§Ø­ØªØ±Ø§Ø²Ø§Øª Ø§Ù„ØµØ­ÙŠØ© ÙÙŠ Ø§Ù„Ù…Ù…Ù„ÙƒØ©ØŒ ÙˆØ°Ù„Ùƒ Ø§Ø¨ØªØ¯Ø§...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,14262.0,15,10,2021,https://twitter.com/MOISaudiArabia/status/1448...
1,55,1441521487970639877,4436,8179,957.0,405.0,MOISaudiArabia,2021-09-24,Fri Sep 24 21:54:39 +0000 2021,37 days 02:05:21,Ù†Ø¸Ø§Ù… Ù…ÙƒØ§ÙØ­Ø© Ø¬Ø±ÙŠÙ…Ø© Ø§Ù„ØªØ­Ø±Ø´..\n\n#ÙˆØ²Ø§Ø±Ø©_Ø§Ù„Ø¯Ø§Ø®Ù„ÙŠØ© ...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,13977.0,24,9,2021,https://twitter.com/MOISaudiArabia/status/1441...
2,66,1440718303383539712,2080,7538,440.0,125.0,MOISaudiArabia,2021-09-22,Wed Sep 22 16:43:05 +0000 2021,39 days 07:16:55,Ø³Ù„Ø§Ù…ÙŒ ÙŠØ§ Ø¯Ø§Ø± Ø§Ù„Ø¢Ù…Ù†ÙŠÙ† ğŸ‡¸ğŸ‡¦ğŸ‡¸ğŸ‡¦\n\n#Ù‡ÙŠ_Ù„Ù†Ø§_Ø¯Ø§Ø±â©\nâ§#Ø§...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,10183.0,22,9,2021,https://twitter.com/MOISaudiArabia/status/1440...
3,36,1435302078092619777,2218,3587,1660.0,251.0,MOISaudiArabia,2021-09-07,Tue Sep 07 18:00:56 +0000 2021,54 days 05:59:04,Ø¥ÙŠÙ‚Ø§Ù ØªØ¹Ù„ÙŠÙ‚ Ø§Ù„Ù‚Ø¯ÙˆÙ… Ø¥Ù„Ù‰ Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ù…Ù† Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª ÙˆØ¬Ù†...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,7716.0,7,9,2021,https://twitter.com/MOISaudiArabia/status/1435...
4,78,1443908772410318849,2360,2954,1120.0,81.0,MOISaudiArabia,2021-10-01,Fri Oct 01 12:00:52 +0000 2021,30 days 11:59:08,Ø¨Ø¯Ø¡Ù‹Ø§ Ù…Ù† ØªØ§Ø±ÙŠØ® 4 / 3 / 1443Ù‡Ù€ Ø§Ù„Ù…ÙˆØ§ÙÙ‚ 10 / 10 ...,2625 days 15:20:13,Sun Aug 24 08:39:47 +0000 2014,6515.0,1,10,2021,https://twitter.com/MOISaudiArabia/status/1443...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49049,58818,1446225796490801155,26,12,NaN,NaN,sunrisesa4,2021-10-07,Thu Oct 07 21:27:54 +0000 2021,24 days 02:32:06,#Ù…Ø¹Ø±Ø¶_Ø§Ù„Ø±ÙŠØ§Ø¶_Ø§Ù„Ø¯ÙˆÙ„ÙŠ_Ù„Ù„ÙƒØªØ§Ø¨ \n@bip_ksa @MOISaud...,970 days 03:31:09,Wed Mar 06 20:28:51 +0000 2019,NaN,7,10,2021,https://twitter.com/sunrisesa4/status/14462257...
49050,28330,1441741664104501252,0,0,NaN,NaN,18S301,2021-09-25,Sat Sep 25 12:29:33 +0000 2021,36 days 11:30:27,@MOISaudiArabia #Ù…ØªØ­Ø±Ø´ÙŠÙ†_Ø§Ù„ÙŠÙˆÙ…_Ø§Ù„ÙˆØ·Ù†ÙŠ https://...,1906 days 19:13:38,Fri Aug 12 04:46:22 +0000 2016,NaN,25,9,2021,https://twitter.com/18S301/status/144174166410...
49051,58787,1444294159708393474,0,0,NaN,NaN,Adlersconsult,2021-10-02,Sat Oct 02 13:32:16 +0000 2021,29 days 10:27:44,@MOISaudiArabia @AljawazatKSA https://t.co/OGI...,158 days 01:48:37,Wed May 26 22:11:23 +0000 2021,NaN,2,10,2021,https://twitter.com/Adlersconsult/status/14442...
49052,58804,1444294136136339456,0,0,NaN,NaN,Adlersconsult,2021-10-02,Sat Oct 02 13:32:10 +0000 2021,29 days 10:27:50,@MOISaudiArabia @AljawazatKSA https://t.co/OGI...,158 days 01:48:37,Wed May 26 22:11:23 +0000 2021,NaN,2,10,2021,https://twitter.com/Adlersconsult/status/14442...
49053,58812,1444294052753682432,0,0,NaN,NaN,Adlersconsult,2021-10-02,Sat Oct 02 13:31:50 +0000 2021,29 days 10:28:10,@MOISaudiArabia @Absher https://t.co/OGI6TJIIkI,158 days 01:48:37,Wed May 26 22:11:23 +0000 2021,NaN,2,10,2021,https://twitter.com/Adlersconsult/status/14442...